@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --orange-red: #fe470e;
    --white: white;
    --black: black;
    --seashell: #fff6ee;
    --khaki: #fdff94;
    --maroon: #751e03;
    --orange: #feac0e;
    --firebrick: #c02e00;
    --cadet-blue: #009ec0;
    --moccasin: #ffecbf;
    --medium-blue: #002ac0;
    --medium-sea-green: #3fb64b;
}

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 body {
    font-family:'Lato', sans-serif ;
    color: #333;
    line-height: 1.6;
 }

 ul {
    list-style-type: none;
 }

 a {
    text-decoration: none;
    color: #333;
 }

 img {
    width: 100%;
 }

 p {
    margin: 10px 0;
 } 

 h1,
 h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
 }

 p {
   margin: 10px 0;
 }


/* navigation */

 .navbar {
    background-color: var(--orange-red);
    color: #fff;
    height: 64px;
 }

 .navlogo img {
    width: 300px;
 }

 .navbar .flex {
    justify-content: space-between;
 }

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--khaki);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--khaki) solid;
}
 .navbar .container {
    border: 1px var(--khaki) solid;
    padding: 20px;
    border-radius: 20px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 90vw;
    align-items: center;
 }
/* heropage */

.heropage{
   height: 500px;
   background-color: var(--orange-red);
   color: #fff;
   position: relative;
}

.heropage h1 {
   font-size: 70px;
   font-weight: 700;
}

.heropage p {
   margin-top: 20px 0;
}
/* Utilities */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}